<turbo-stream action="remove" target="produit_{{ id }}">
</turbo-stream>

<turbo-stream action="replace" target="panier-total">
    <template>
        <span id="panier-total">{{ totalPanier }}</span>
    </template>
</turbo-stream>
