<style>
    .footer {
        background-color: transparent;
        color: white;
        text-align: center;
        padding: 10px 0;
        margin-top: auto;
    }
</style>
<footer class="footer">
    <p>&copy; 2025 Joshua CHONG TOUA.</p>
</footer>
